.qcCheckDoneContainerParent{
    /* height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #000000;
    font-size: 14px; */
    height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: #000000;
      font-size: 14px;
      position: fixed;
      z-index: 1;
  }
  .illustrationImg{
    height:200px;
  }
  .qcCheckDoneContainer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow:0px 0px 20px 2px rgb(179, 178, 178);
    padding: 20px 60px;
  }
  .myBlur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  .stackTop{
    z-index:2;
  }
  .qcOkayBtn{
    background-color: black;
    color:white;
    font-weight: 700;
    border-radius: 8px;
    outline:none;
    padding:10px 20px;
    margin:10px;
  }
  .qcOkayBtn:focus{
    outline: none;
    
  }
 